body{
    margin: 4rem;
    text-align: justify;
    background-colour: #FFCCB3;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: x-large;
}
p,ul,table{
    font-size: larger;
}
